<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="English.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <English.Properties.Settings>
            <setting name="nr_essays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="essay1" serializeAs="String">
                <value />
            </setting>
            <setting name="essay2" serializeAs="String">
                <value />
            </setting>
            <setting name="essay3" serializeAs="String">
                <value />
            </setting>
            <setting name="essay4" serializeAs="String">
                <value />
            </setting>
            <setting name="essay5" serializeAs="String">
                <value />
            </setting>
            <setting name="essay6" serializeAs="String">
                <value />
            </setting>
            <setting name="essay7" serializeAs="String">
                <value />
            </setting>
            <setting name="essay8" serializeAs="String">
                <value />
            </setting>
            <setting name="essay9" serializeAs="String">
                <value />
            </setting>
            <setting name="essay10" serializeAs="String">
                <value />
            </setting>
            <setting name="essay11" serializeAs="String">
                <value />
            </setting>
            <setting name="essay12" serializeAs="String">
                <value />
            </setting>
            <setting name="nr_reports" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="report1" serializeAs="String">
                <value />
            </setting>
            <setting name="report2" serializeAs="String">
                <value />
            </setting>
            <setting name="report3" serializeAs="String">
                <value />
            </setting>
            <setting name="report4" serializeAs="String">
                <value />
            </setting>
            <setting name="report5" serializeAs="String">
                <value />
            </setting>
            <setting name="report6" serializeAs="String">
                <value />
            </setting>
            <setting name="report7" serializeAs="String">
                <value />
            </setting>
            <setting name="report8" serializeAs="String">
                <value />
            </setting>
            <setting name="report9" serializeAs="String">
                <value />
            </setting>
            <setting name="report10" serializeAs="String">
                <value />
            </setting>
            <setting name="report11" serializeAs="String">
                <value />
            </setting>
            <setting name="report12" serializeAs="String">
                <value />
            </setting>
            <setting name="nr_proposals" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="proposal1" serializeAs="String">
                <value />
            </setting>
            <setting name="proposal2" serializeAs="String">
                <value />
            </setting>
            <setting name="proposal3" serializeAs="String">
                <value />
            </setting>
            <setting name="proposal4" serializeAs="String">
                <value />
            </setting>
            <setting name="proposal5" serializeAs="String">
                <value />
            </setting>
            <setting name="proposal6" serializeAs="String">
                <value />
            </setting>
            <setting name="proposal7" serializeAs="String">
                <value />
            </setting>
            <setting name="proposal8" serializeAs="String">
                <value />
            </setting>
            <setting name="proposal9" serializeAs="String">
                <value />
            </setting>
            <setting name="proposal10" serializeAs="String">
                <value />
            </setting>
            <setting name="proposal11" serializeAs="String">
                <value />
            </setting>
            <setting name="proposal12" serializeAs="String">
                <value />
            </setting>
            <setting name="nr_reviews" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="review1" serializeAs="String">
                <value />
            </setting>
            <setting name="review2" serializeAs="String">
                <value />
            </setting>
            <setting name="review3" serializeAs="String">
                <value />
            </setting>
            <setting name="review4" serializeAs="String">
                <value />
            </setting>
            <setting name="review5" serializeAs="String">
                <value />
            </setting>
            <setting name="review6" serializeAs="String">
                <value />
            </setting>
            <setting name="review7" serializeAs="String">
                <value />
            </setting>
            <setting name="review8" serializeAs="String">
                <value />
            </setting>
            <setting name="review9" serializeAs="String">
                <value />
            </setting>
            <setting name="review10" serializeAs="String">
                <value />
            </setting>
            <setting name="review11" serializeAs="String">
                <value />
            </setting>
            <setting name="review12" serializeAs="String">
                <value />
            </setting>
            <setting name="nr_formal_letters" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="formal_letter1" serializeAs="String">
                <value />
            </setting>
            <setting name="formal_letter2" serializeAs="String">
                <value />
            </setting>
            <setting name="formal_letter3" serializeAs="String">
                <value />
            </setting>
            <setting name="formal_letter4" serializeAs="String">
                <value />
            </setting>
            <setting name="formal_letter5" serializeAs="String">
                <value />
            </setting>
            <setting name="formal_letter6" serializeAs="String">
                <value />
            </setting>
            <setting name="formal_letter7" serializeAs="String">
                <value />
            </setting>
            <setting name="formal_letter8" serializeAs="String">
                <value />
            </setting>
            <setting name="formal_letter9" serializeAs="String">
                <value />
            </setting>
            <setting name="formal_letter10" serializeAs="String">
                <value />
            </setting>
            <setting name="formal_letter11" serializeAs="String">
                <value />
            </setting>
            <setting name="formal_letter12" serializeAs="String">
                <value />
            </setting>
            <setting name="nr_informal_letters" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="informal_letter1" serializeAs="String">
                <value />
            </setting>
            <setting name="informal_letter2" serializeAs="String">
                <value />
            </setting>
            <setting name="informal_letter3" serializeAs="String">
                <value />
            </setting>
            <setting name="informal_letter4" serializeAs="String">
                <value />
            </setting>
            <setting name="informal_letter5" serializeAs="String">
                <value />
            </setting>
            <setting name="informal_letter6" serializeAs="String">
                <value />
            </setting>
            <setting name="informal_letter7" serializeAs="String">
                <value />
            </setting>
            <setting name="informal_letter8" serializeAs="String">
                <value />
            </setting>
            <setting name="informal_letter9" serializeAs="String">
                <value />
            </setting>
            <setting name="informal_letter10" serializeAs="String">
                <value />
            </setting>
            <setting name="informal_letter11" serializeAs="String">
                <value />
            </setting>
            <setting name="informal_letter12" serializeAs="String">
                <value />
            </setting>
            <setting name="nr_docs_descarcate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="doc1" serializeAs="String">
                <value />
            </setting>
            <setting name="doc2" serializeAs="String">
                <value />
            </setting>
            <setting name="doc3" serializeAs="String">
                <value />
            </setting>
            <setting name="doc4" serializeAs="String">
                <value />
            </setting>
            <setting name="doc5" serializeAs="String">
                <value />
            </setting>
            <setting name="doc6" serializeAs="String">
                <value />
            </setting>
            <setting name="doc7" serializeAs="String">
                <value />
            </setting>
            <setting name="doc8" serializeAs="String">
                <value />
            </setting>
            <setting name="doc9" serializeAs="String">
                <value />
            </setting>
            <setting name="doc10" serializeAs="String">
                <value />
            </setting>
            <setting name="doc11" serializeAs="String">
                <value />
            </setting>
            <setting name="doc12" serializeAs="String">
                <value />
            </setting>
        </English.Properties.Settings>
    </userSettings>
</configuration>